<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
    <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Melissa's Resume</title>
    <style>
        html{
        background-color: rgb(240,128,128);
      }
    </style>
</head>
<body>

<section id="header">

    <!--Making a navigation bar-->
    <nav>
        <div class ="logo">
            <h4>Melissa Aguilar's Lab 2 Assignment</h4>
        </div>
        <ul class="nav-links">


            <li><a href="/home">HOME</a></li>

            <li><a href="/resume">RESUME</a></li>
        </ul>
    </nav>



    <!--This will be my Welcoming page -->
    <div class="welcomepage-box">
        <!--Image of myself -->
        <img src="{{url_for('static', filename='img/melissaresumepic.jpg')}}" class="profile-pic">
        <h1>Melissa Aguilar</h1>

        <h5>Double Major in Computer Science and Games and Emerging Media at Marist College </h5>

        <div class="line-break"></div>

        <p>
            I am striving for work or internship experience
            that will support my passion for technology
            and community growth, specifically for low-income and minorities.
        </p>

        <!--Hyperlink the LinkedIn image -->
        <a href="https://www.linkedin.com/in/melissa-aguilar-a12ba117a/" target="_blank"><img src="{{url_for('static', filename='img/linkedin-logo.png')}}" class= "linkedin-icon"></a>

            <style>
            .second-font{
            font: 30px Garamond, Georgia, serif;
            color: Pink;
            </style>

        <div class="second-font">

            <p>#MeAfterLab2</p>

        </div>

        <img src="{{url_for('static', filename='img/funnymeme.png')}}" class="meme-pic">
    </div>
</section>



</body>
</html>