<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

  <style>

.logo{
    color: rgb(240,128,128);
    letter-spacing: 3px;
    font-size: 16px;
}

.box1{
  background-color: gray;
  padding: 2px;

}
.box2{
  background-color: red;
  padding: 8px;

}
.box3{
background-color: white;
  padding: 2px;

}

</style>
</head>
<body>

<section id="header" class="header">
     <!--Making a navigation bar-->
    <nav>
        <div class ="logo">
            <h7>Melissa Aguilar's Lab 2 Assignment</h7>
        </div>
        <ul class="nav-links">
          <h7><li><a href="/home">HOME</a></li></h7>

            <li><a href="/resume">RESUME</a></li>
        </ul>
    </nav>
</section>

<!--Resume Section-->
<section id="resume-page">
    <div class="box1">
      <div class="resume-container">
        <div class="resume-header">
          <div class="resume-logo"></div>
          <div class="title-holder">
            <div class="name">Melissa Aguilar</div>
              <div class="purpose-line">
                  <li>(708) 595-7532</li>
                  <li>aguilarmelissa101@gmail.com</li>
              </div>
          </div>
        </div>
      </div>

        <!--Top-Section of Resume -->

      <div class="box3">

          <!--Contains juicy details of resume-->
          <div class="section-right">
            <div class="wrapper">
              <div class="content">
                <!--Objective portion of Resume-->
                <h2>OBJECTIVE</h2>
                  <div class="purpose-line">
                    <p> To obtain a Computer Science or Technology related job.</p>
                  </div>
              </div>

              <!--Education portion of resume-->
              <div class="resume-content">
                <h2>EDUCATION</h2>
                <div class="purpose-line">
                    <p> <strong>Marist College</strong>.</p>
                  </div>
                <p>Bachelor of Science, May 2022</p>
                <p>Majors: Computer Science, Concentration: Game Design
                Games and Emerging Media, Concentration: Tech Development & Programming</p>
                <h4 class="gpa">GPA 3.625</h4>
              </div>

              <div class="resume-content">
                <h2><br>HONORS/AWARDS </h2>
                <div class="purpose-line">
                    <h4>Emerge Second Place Award for Capstone Project: Evi Hab, Chicago, IL </h4>
                    <p>Tech and Gamification Role | Summer 2019 </p>
                </div>

                <div class="purpose-line">
                    <h4>Marist College Technology Scholarship Recipient </h4>
                    <p>Tech Scholar | May 2018 </p>
                </div>

                <div class="purpose-line">
                    <h4>Strive: How You Lead Matters (Program Scholarship)</h4>
                    <p>Soccer player | Summer 2017 </p>
                </div>
              </div>

              <div class="resume-content">
                <h2><br>RELEVANT COURSEWORK </h2>
                <div class="purpose-line">
                    <p>Intro to Programming: Python </p>
                    <p>Software Development 1: Java </p>
                </div>

              </div>

              <div class="resume-content">
                <h2><br>INTERNSHIPS </h2>
                <div class="purpose-line">
                    <h4>Kirkland and Ellis LLP, Chicago, IL </h4>
                    <p>Desktop Operations Intern | Summer 2019 </p>
                </div>

              </div>

              <div class="resume-content">

                <h2><br>WORK EXPERIENCE</h2>
                <div class="purpose-line">
                    <h4>Chipotle Mexican Grill, Chicago, IL</h4>
                    <p>Restaurant Team Member | Summer 2018 </p>
                </div>

                <div class="purpose-line">
                    <h4><br>Northwestern University, Chicago, IL </h4>
                    <p>Usher | 2015 - 2018 </p>
                </div>

              </div>

              <div class="resume-content">
                <h2><br>VOLUNTEER EXPERIENCE </h2>
                <div class="purpose-line">
                    <h4>Marist College, Poughkeepsie, NY</h4>
                    <p>Van Driver | Sept. 2018 - Present </p>
                </div>

                <div class="purpose-line">
                    <h4>Shields Middle School, Chicago, IL</h4>
                    <p>Volleyball Coach | 2016 - 2018 </p>
                </div>

                <div class="purpose-line">
                    <h4>Salvation Army, Chicago, IL</h4>
                    <p>Christmas Helper | 2015 - 2018 </p>
                </div>

                <div class="purpose-line">
                    <h4>St. Bruno Church, Chicago, IL</h4>
                    <p>Assistant Teacher | 2014 - 2017 </p>
                </div>

              </div>

              <div class="resume-content">
                <h2><br>AFFILIATIONS </h2>
                <div class="purpose-line">
                    <h4>Chicago Scholars, Chicago, IL </h4>
                    <p>Member | 2017 - Present </p>
                </div>
              </div>


            </div>
          </div> <!-- end section right -->
        </div>
      </div>

       <div class="box2">
        <div class="content-body">
          <div class="section-left">
            <div class="wrapper">
              <div class="lists">

                <div class="left-header"><h2>Professional Skills</h2></div>

                <ul>
                  <li>Team-oriented</li>
                  <li>Collaborator</li>
                  <li>Detail-oriented</li>
                  <li>Organized</li>
                </ul>
              </div>

              <div class="lists">

                <div class="left-header"><h2>Computer Skills/Experience:</h2></div>
                <ul>
                  <li>Python</li>
                  <li>Java</li>
                  <li>PyCharm</li>
                  <li>IDLE</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Multiple Adobe Software's</li>
                  <li>Microsoft Office: Excel, Word, Powerpoint</li>
                    <li>Proficient in Social Media</li>
                </ul>
              </div>

              <div class="lists">
                <div class="left-header"><h2>Contact Information</h2></div>
                <p>Phone: (708) 595-7532</p>
                <p>Email: melissa.aguilar1@marist.edu</p>
                <p>Personal: aguilarmelissa101@gmail.com </p>


              </div>

            </div>
          </div> <!-- end section-left -->
     </div>


        <div class="footer">
          <p  background-color="gray"> *        All references available upon request. Thank you!      </p>
        </div>


</section>

</body>
</html>